.hirdVF {
    display: flex;
    flex-flow: row;
    width: 100%;
    -webkit-box-pack: justify;
    justify-content: space-between;
    position: fixed;
    top: 0px;
    z-index: 1000;
}

.hirdVF.sticky {
    display: flex;
    flex-flow: row;
    background-color: var(--sticky-nav);
    border-bottom: 1px solid rgba(152, 161, 192, 0.24);
    width: 100%;
    -webkit-box-pack: justify;
    justify-content: space-between;
    position: fixed;
    top: 0px;
    z-index: 1000;
}

/* Navbar */
.header {
    padding: 20px 12px;
    width: 100%;
    height: 72px;
    z-index: 2;
}

.nav {
    display: flex;
    flex-wrap: nowrap;
    height: 100%;
    box-sizing: border-box;
    vertical-align: baseline;
    -webkit-tap-highlight-color: transparent;
}


/* Left Nav Section */
.left-nav {
    display: flex;
    justify-content: flex-start;
    flex: 1 1;
    width: 100%;
    align-items: center;

}

.left-nav .logo-wrap {
    display: flex;
    margin-right: 6px;
    align-items: center;
    cursor: pointer;
}

.left-nav .logo-image {
    width: 50px;
    height: 52px;
}

.left-nav .nav-list {
    display: none;
    flex-direction: row;
    align-items: center;
}

.nav-item .nav-link {
    color: var(--text-color);

}

.dropdown .nav-link {
    color: var(--text-color);
}

.dropdown-menu {
    box-shadow: 0 4px 12px 0 #00000026;
    z-index: 1060;
    background: var(--nav-drop);
    padding-top: 8px;
    padding-bottom: 10px;
    padding-left: 8px;
    padding-right: 8px;

}

.dropdown-menu .icons {
    font-size: 20px;
}

.dropdown-menu .borderr {
    border-top: solid;
    border-color: #293249;
    height: 0;
    border-width: 1px;
    margin-left: 16px;
    margin-right: 16px;
}

.dropdown-menu .dropdown-item {
    padding-bottom: 8px;
    padding-top: 8px;
    padding-right: 8px;
    padding-left: 8px;
    color: var(--color-white);
}

.dropdown-menu .icons-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 16px;
    padding-left: 16px;
    justify-content: center;
}

.icons-wrapper a {
    text-decoration: none;
    flex-direction: column;
    display: flex;
    text-align: center;
    margin-right: 12px;
    color: rgb(76, 130, 251);

}

.icons-wrapper a img {
    width: 24px;
    height: 24px;
}

/* Center Nav Section */
.center-nav {

    flex: 1 1;
    height: 48px;
    align-self: center;
    align-items: flex-start;
    box-sizing: border-box;
    vertical-align: baseline;
    -webkit-tap-highlight-color: transparent;
    display: none;
}

/* Custom Search Dropdown */
.custom-search-dropdown {
    background-color: rgba(255, 255, 255, 0.07);
    background-color: rgba(255, 255, 255, 0.07);
    border-radius: 12px;
    -webkit-backdrop-filter: blur(60px);
    backdrop-filter: blur(60px);
    /* overflow: hidden; */
    position: relative;
    display: flex;
    flex-direction: column;
    top: 0;
    right: 0;
    z-index: 3;
    max-height: calc(100vh - 40px);
    width: auto;
}

.custom-search-inside {
    display: flex;
    align-items: center;
    padding-top: 9.5px;
    padding-bottom: 9.5px;
    padding-right: 16px;
    padding-left: 16px;
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
    vertical-align: initial;
    -webkit-backdrop-filter: blur(60px);
    backdrop-filter: blur(60px);
    gap: 12px;
    flex-direction: row;
    background-color: rgb(255 255 255 / 7%);
    border-radius: 12px;
    color: #98a1c0;
    width: 100vw;
}

.custom-search-inside::before {
    background: linear-gradient(91.46deg, #4673fa, #9646fa 100.13%) border-box;
    border: 1px solid transparent;
    border-radius: inherit;
    content: "";
    inset: -1px;
    -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    pointer-events: none;
    position: absolute;
    opacity: 0;
    transition: opacity .25s ease-out;
}

.custom-search-inside .search-icon {
    box-sizing: border-box;
    vertical-align: baseline;
    -webkit-tap-highlight-color: transparent;
    color: #98a1c0;
    font-size: 20px;
}

.custom-search-dropdown input {
    -webkit-appearance: none;
    outline: none;
    -webkit-appearance: none;
    appearance: none;
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
    vertical-align: initial;
    border: none;
    border: var(--rgw6ez20);
    background: none;
    background: var(--rgw6ezw);
    padding: 0;
    width: 100%;
    height: 100%;
    line-height: 24px;
    color: var(--color-white);

}

.custom-search-inside input::placeholder {
    color: #98a1c0;
    opacity: 1;
}

.slash {
    background-color: rgba(173, 188, 255, 0.24);
    color: rgb(152, 161, 192);
    padding: 0px 8px;
    width: 20px;
    height: 20px;
    border-radius: 4px;
    font-size: 12px;
    font-weight: 800;
    line-height: 16px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    opacity: 0.6;
    backdrop-filter: blur(60px);

}

/* Dropdown List */
.custom-search-dropdown .search-options {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 10;
    max-height: 200px;
    overflow-y: auto;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #ffffff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Individual Option */
.custom-search-dropdown .search-options li {
    list-style: none;
    padding: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.custom-search-dropdown .search-options li .options-name img {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

.custom-search-dropdown .search-options li .options-name span {
    font-size: 16px;
}

.custom-search-dropdown .search-options li:hover {
    background-color: #f0f0f0;
}


/* Right Nav */
.right-nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: 1 1;
    width: 100%;
}

/* New dropdown */
/* CustomDropdown.css */
.custom-dropdown {
    position: relative;
    display: inline-block;
}

.selected-option {
    padding: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.selected-option .dropdown .nav-dropdown {
    font-size: 25px;
    color: #98a1c0;
    margin-left: 5px;
    margin-right: 5px;
}

.selected-option img {
    width: 20px;
}


.options {
    min-width: 240px;
    max-height: 350px;
    overflow: auto;
    background-color: var(--nav-drop);
    box-shadow: rgba(0, 0, 0, 0.24) 12px 16px 24px, rgba(0, 0, 0, 0.24) 12px 8px 12px, rgba(0, 0, 0, 0.32) 4px 4px 8px;
    border: 0.5px solid rgba(152, 161, 192, 0.24);
    border-radius: 12px;
    padding: 8px;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    position: absolute;
    top: 56px;
    right: 0;
    z-index: 100;
    left: auto;
}

.options li {
    padding: 10px;
    cursor: pointer;
    color: var(--color-white);
    display: flex;
    justify-content: space-between;
}

.options li:hover {
    background-color: #f0f0f0;
}

.options img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}


.tick-icon {
    color: lightblue;

}

.searchable-select {
    position: relative;
    width: 200px;
}

.selected-option input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.searchable-select .options {
    list-style-type: none;
    margin: 0;
    padding: 0;
    border: 1px solid #ccc;
    border-top: none;
    position: absolute;
    width: 100%;
    max-height: 150px;
    overflow-y: auto;
    z-index: 1;
}

.searchable-select .options li {
    padding: 10px;
    cursor: pointer;
}

.searchable-select .options li:hover {
    background-color: #f0f0f0;
}

.right-nav .connect {
    display: flex;
    flex-flow: row;
    -webkit-box-align: center;
    align-items: center;
    background-color: var(--connect-btn);
    border-radius: 9999px;
    border: none;
    padding: 0px;
    height: 40px;
    color: var(--btn-color);
    transition: color 125ms ease-in 0s;
}

.connect .connect-btn {
    background-color: transparent;
    border: none;
    border-top-left-radius: 9999px;
    border-bottom-left-radius: 9999px;
    cursor: pointer;
    font-weight: 600;
    font-size: 16px;
    padding: 10px 12px;
    color: inherit;
}

/* Media QUery */
@media screen and (min-width: 640px) {

    .custom-search-dropdown {
        width: auto;
    }

    .custom-search-inside {
        width: 360px;
    }

    .dropdown-menu .icons-wrapper {

        justify-content: flex-start;
    }

}

@media screen and (min-width: 768px) {
    .left-nav .nav-list {
        display: flex;
    }

    .center-nav {
        justify-content: flex-end;

    }

    .inside-search {
        width: 330px;
    }


}

@media screen and (min-width: 1024px) {

    .center-nav {
        justify-content: center;
        display: flex;
    }

    .custom-search-dropdown {
        display: flex;
    }

    .inside-search {
        width: 360px;
    }

    .custom-search-inside input {
        transform: translateX(0);
        transition: transform var(--rgw6ez38);
        transition-timing-function: ease-in;
    }

    .custom-search-inside .search-icon {
        transform: translateX(0);
        transition: transform var(--rgw6ez38);
        transition-timing-function: ease-in;
    }
}

@media screen and (min-width: 1280px) {
    .inside-search {
        width: 480px;
    }
}

@media screen and (min-width: 1536px) {

    .inside-search {
        width: 520px;
    }
}