.AyiUC {
    display: flex;
    flex-flow: row;
    /* background-color: rgb(255, 255, 255); */
    /* border-bottom: 1px solid rgb(210, 217, 238); */
    width: 100%;
    -webkit-box-pack: justify;
    justify-content: space-between;
    position: fixed;
    top: 0px;
    z-index: 1000;
}

.ccVlPa {
    padding: 20px 12px;
    width: 100%;
    height: 72px;
    z-index: 2;
}

._1klryar0 {
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
    vertical-align: initial;
}

.rgw6ez44v {
    display: flex;
}

.rgw6ez441 {
    flex-wrap: nowrap;
}

.rgw6ez1dv {
    height: 100%;
}

.rgw6ez47j {
    justify-content: flex-start;
}

.rgw6ez43d {
    flex: 1 1;
}

.rgw6ez3y7 {
    flex-shrink: 2px;
}

.rgw6ez16v {
    width: 100%;
}

.rgw6ez3j {
    align-items: center;
}

.rgw6ez79z,
.rgw6ez7a0:hover,
.rgw6ez7a1:active,
.rgw6ez7a2:before {
    cursor: pointer;
}

.rgw6ezrd {
    margin-right: 12px;
}

.rgw6ez3j {
    align-items: center;
}

.rgw6ez4ej,
.rgw6ez4ek:hover,
.rgw6ez4el:active,
.rgw6ez4em:focus,
.rgw6ez4en:before {
    color: var(--genie-colors-textPrimary);
    color: var(--rgw6ezj);
}

.rgw6ez44p {
    display: block;
}

.rgw6ez471 {
    flex-direction: row;
}

.rgw6ez44j {
    display: none;
}

.rgw6ez3j {
    align-items: center;
}

.rgw6ez3y1 {
    flex-shrink: 1px;
}

.rgw6ez1av {
    height: 48px;
}

.rgw6ez4p {
    align-self: center;
}

._1fbf9sz4 {
    border-radius: 12px;
}

._1fbf9sz1,
._1fbf9sz4 {
    -webkit-backdrop-filter: blur(60px);
    backdrop-filter: blur(60px);
}

.rgw6ez7m3,
.rgw6ez7m4:hover,
.rgw6ez7m5:active,
.rgw6ez7m6:before {
    overflow: hidden;
}

.rgw6ez491 {
    position: relative;
}

.rgw6ez477 {
    flex-direction: column;
}

.rgw6ez3qj {
    z-index: 3;
}

.rgw6ez3f7 {
    top: 0;
}

.rgw6ez39p {
    right: 0;
}

.rgw6ez1zd {
    max-height: calc(100vh - 40px);
}

.rgw6ez17v {
    width: auto;
}

._1fbf9sz9,
._1fbf9szd {
    -webkit-backdrop-filter: blur(60px);
    backdrop-filter: blur(60px);
}

.rgw6ez7kj,
.rgw6ez7kk:hover,
.rgw6ez7kl:active,
.rgw6ez7km:before {
    border-bottom-width: 1px;
}

.rgw6ez7jr,
.rgw6ez7js:hover,
.rgw6ez7jt:active,
.rgw6ez7ju:before {
    border-width: 1px;
}

.rgw6ez7bj,
.rgw6ez7bk:hover,
.rgw6ez7bl:active,
.rgw6ez7bm:before {
    border-radius: 12px;
    border-radius: var(--rgw6ez25);
}

.rgw6ez7ab,
.rgw6ez7ac:hover,
.rgw6ez7ad:active,
.rgw6ez7ae:before {
    border-style: solid;
}

.rgw6ez6d1,
.rgw6ez6d2:hover,
.rgw6ez6d3:active,
.rgw6ez6d4:focus,
.rgw6ez6d5:before {
    background-color: var(--genie-colors-searchBackground);
    background-color: var(--rgw6ezg);
}

.rgw6ez51v,
.rgw6ez51w:hover,
.rgw6ez51x:active,
.rgw6ez51y:focus,
.rgw6ez51z:before {
    border-color: var(--rgw6ezh);
}

.rgw6ez4ep,
.rgw6ez4eq:hover,
.rgw6ez4er:active,
.rgw6ez4es:focus,
.rgw6ez4et:before {
    color: var(--genie-colors-textSecondary);
    color: var(--rgw6ezk);
}

.rgw6ez471 {
    flex-direction: row;
}

.rgw6ez3tj {
    gap: 12px;
}

.rgw6ez2ov {
    padding-top: 12px;
}

.rgw6ez2jp {
    padding-right: 16px;
}

.rgw6ez2e7 {
    padding-left: 16px;
}

.rgw6ez28d {
    padding-bottom: 12px;
}

.rgw6ez17p {
    width: 100vw;
}

.rgw6ez3j {
    align-items: center;
}

.rgw6ez7m3,
.rgw6ez7m4:hover,
.rgw6ez7m5:active,
.rgw6ez7m6:before {
    overflow: hidden;
}

.rgw6ez4ad {
    opacity: 0;
}

.rgw6ez477 {
    flex-direction: column;
}

.rgw6ez46v {
    visibility: hidden;
}

.rgw6ez2t7 {
    padding: 0;
}

.rgw6ez187 {
    height: 0;
}























/*Media quries*/

@media screen and (min-width: 640px) {
    .rgw6ez17w {
        width: auto;
    }

    ._1fbf9sz1 {
        width: 360px;
    }
}

@media screen and (min-width: 768px) {
    .rgw6ez44l {
        display: none;
    }

    .rgw6ez44x {
        display: flex;
    }

    .rgw6ez47x {
        justify-content: flex-end;
    }

    ._1fbf9sz2 {
        width: 330px;
    }
}

@media screen and (min-width:1024px) {
    ._1fbf9sz2 {
        width: 360px;
    }
}

@media screen and (min-width:1280px) {
    ._1fbf9sz2 {
        width: 480px;
    }
}