:root {
  --body-bg-color: linear-gradient(rgb(32, 39, 56) 0%, rgb(7, 8, 22) 100%);
  --card-bg: rgb(13, 17, 28);
  --text-color: rgb(152, 161, 192);
  --body-bg-shade: radial-gradient(72.04% 72.04% at 50% 3.99%, rgb(255, 55, 235) 0%, rgba(166, 151, 255, 0) 100%);
  --card-border-color: 1px solid rgba(152, 161, 192, 0.24);
  --card-hover-color: 1px solid rgb(76, 130, 251);
  --card-inside-color: rgb(19, 26, 42);
  --color-white: #FFFFFF;
  --btn-color: rgb(76, 130, 251);
  --body-bg: #071220;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  overflow-x: hidden !important;
}

a {
  text-decoration: none;
  color: unset;
}

a:hover {
  color: unset;
}

ul {
  list-style: none;
}

.dark-theme {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: var(--body-bg);
}

.dark-theme::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  pointer-events: none;
  width: 200vw;
  height: 200vh;
  transform: translate(-50vw, -100vh);
  z-index: 1;
}

.backdrop {
  position: absolute;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  top: 0px;
  left: 0;
  bottom: 0px;
  width: 100%;
  min-height: 550px;
  background: linear-gradient(rgba(8, 10, 24, 0) 0%, rgb(8, 10, 24) 45%);
  z-index: 110;
  pointer-events: none;
  height: calc(100vh - 52px);
  overflow: hidden;

}

/* .gtxiKG {
  position: absolute;
  display: flex;
  overflow: hidden;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  top: 0px;
  bottom: 0px;
  width: 100%;
  overflow-y: hidden;
  height: calc(100vh - 52px);
} */

@media screen and (min-width: 768px) {
  .backdrop {
    height: 100vh;
  }

  /* 
  .gtxiKG {
    height: 100vh;
  } */

}